body {
    font-family: "Courier New", Courier, monospace;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    border: 2px solid #fff;
    padding: 1rem;
}

#game-novel {
    margin-bottom: 1rem;
}

#game-map {
    white-space: pre;
}
